<div>
  <video autoplay loop style="opacity: 0.8" id="video-background" poster="earth_night_rotate_1080.mov" muted>

    <%= random_video %>
    <!-- <source src="../timelapse1.mov" type="video/mp4"> </video> -->
    <!-- <source src="../earth_night_rotate_1080.mov" type="video/mp4"> </video> -->
</div>


<div class="main-login active">
  <%= render partial: '/devise/sessions/form', locals: {resource: resource} %>
</div>
<div class="main-signup">
  <%= render partial: '/devise/registrations/form', locals: {resource: resource} %>
</div>
<!--

<div class="content-container">
  <video autoplay loop id="video-background" poster="earth_night_rotate_1080.mov" muted>

    <source src="../earth_night_rotate_1080.mov" type="video/mp4"> </video> </div> -->

<button id="clicky">Create an Account</button>


<div style="margin-top:50px;" class="col-md-8 col-md-offset-2">

  <%= render @groups.last(6) %>

</div>
