<div style="margin:5px; border-radius:4px; background-color:white; padding:10px;" class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-11">
        <p class="card-text">
          <%= message[:body] %>
        </p>
      </div>
    </div>

  </div>
</div>
