<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Flak.Me", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <%= render partial: 'layouts/navbar_links' %>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
