<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Flak.Me", root_path, class: "navbar-brand" %>
		</div>
    		<%= render partial: 'layouts/navbar_links' %>
	</div>
</nav>